body,p,input,select,label,textarea { font-family: sans-serif; }
.page-footer {
  padding-top: 17px;
  margin: 18px 0;
  border-top: 1px solid #eeeeee;
}
.error_message { color: red; display: block; }


i.brand {
  background: url('../img/almox.png') no-repeat 50% 40%;
  width: 0px;
  height: 20px;
}
