<h2>[% title_part %]</h2>

[% form %]

<table>
  <tr>
    <th>Item</th>
    <th>Estoque</th>
  </tr>

  [% FOREACH row IN estoque %]
  <tr>
    <td>[% row.nome %]</td>
    <td>[% row.total %]</td>
  </tr>
  [% END %]

</table>

[% INCLUDE 'paginacao.tt' %]
