<div class="page-header">
  <h2>[% title_part %]</h2>
</div>

<dl class="dl-horizontal">
  <dt>Código</dt>
  <dd>[% object.id %]</dd>
  <dt>Nome</dt>
  <dd>[% object.nome %]</dd>
  <dt>Descrição</dt>
  <dd>[% object.descricao %]</dd>
  <dt>Ativação</dt>
  <dd>[% IF object.ativacao; 'Sim'; ELSE; 'Não'; END %]</dd>
</dl>
